@model Phone_Forecast.Models.PhoneForecastView.Moore
<h1>RAM</h1>
@{
    await Html.RenderPartialAsync("MoorePartial/_Chart", Model);
}
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacinia scelerisque maximus. Vestibulum id venenatis mi. Proin porta
    gravida fringilla. Morbi bibendum luctus lorem, egestas gravida nulla euismod sed. In volutpat lacus ut velit tempor, at
    condimentum nisl varius. Etiam dignissim mauris sit amet ipsum cursus, tincidunt fermentum sapien consequat. Nullam ultricies,
    dui at malesuada lobortis, ligula massa gravida erat, non facilisis arcu dolor at magna. In at dapibus nisl. Suspendisse congue
    sit amet diam hendrerit aliquet. Curabitur ultrices enim id semper tempus. Integer sem erat, cursus sit amet malesuada eu, sollicitudin
    eu ligula. Pellentesque non ligula dignissim, finibus est nec, malesuada risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</p>